# Articles sources-Reuters

In [76]:
# Import
import requests
import nltk
import urllib.request
import time
import pandas, numpy
import pandas as pd 
import numpy as np

from bs4 import BeautifulSoup
from newspaper import Article

In [95]:
#Preparing the file to store the urls
df = pd.read_csv("C:\curso-ML-1\project\Pasta1.csv") 
df['Text']=""
##df =df.head(10000)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Word    0 non-null      object
 1   Text    0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

In [216]:
#Select the source
URL1 = 'https://www.reuters.com/the-world-at-work'

In [217]:
request1 = requests.get(URL1)

In [218]:
soup = BeautifulSoup(request1.content, 'html.parser')

In [219]:
sources = request1.content
print(len(sources))
print(sources[1])
type(sources)
sources1 = sources.decode("utf-8") 
print(sources1[1])
##print(sources1)

162642
33
!

In [220]:
len1 = len(sources1)
print(len1)
marker =""
selector="OF"
url2=""
counter1=0
for i in range(len1):
    letter = sources1[i]
    marker = marker+letter
    len2 = len(marker)
    marker1 = marker[len2-4:len2]
    
    ##print(marker1)
    if marker1 == 'href':
        selector="ON"
        ##print(marker1) 

       
    if selector=="ON":
        ##print(selector)
        #sources2 =sources2+letter
        url2 = url2+letter
        
 
    
    if selector=="ON" and letter==">":
        selector = "OF"
        url2 = url2[3:]
        ##print(url2[0:9])
        ##print(url2)
        if url2[0:9]=="/article/":
            url2 = URL1+url2
            len3 = len(url2)
            url2 = url2[0:len3-2]
            print(url2)
            df = df.append([url2], ignore_index=True)
            ##df['Text'][counter1]=url2
            counter1 = counter1+1
        url2 = ""

162619
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-videoconferencing/cats-pjs-alien-eyes-unwelcome-as-work-video-calling-boom-prompts-new-etiquette-idUSKBN2143Y7
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-videoconferencing/cats-pjs-alien-eyes-unwelcome-as-work-video-calling-boom-prompts-new-etiquette-idUSKBN2143Y7
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-videoconferencing/cats-pjs-alien-eyes-unwelcome-as-work-video-calling-boom-prompts-new-etiquette-idUSKBN2143Y7
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-banks-anxiety/wall-street-tempers-begin-to-flare-over-coronavirus-work-from-home-policy-idUSKBN2150HR
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-banks-anxiety/wall-street-tempers-begin-to-flare-over-coronavirus-work-from-home-policy-idUSKBN2150HR
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-cloud/coronavirus-work-from-home-push-means-long-nights-employee-health-checks-for-cloud-firms-idUSKBN21031M
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-cloud/coronavirus-work-from-home-push-means-long-nights-employee-health-checks-for-cloud-firms-idUSKBN21031M
https://www.reuters.com/the-world-at-work/article/us-japan-companies-wages/japan-inc-wary-about-wage-hikes-as-abenomics-sputters-reuters-poll-idUSKBN20C01E
https://www.reuters.com/the-world-at-work/article/us-japan-companies-wages/japan-inc-wary-about-wage-hikes-as-abenomics-sputters-reuters-poll-idUSKBN20C01E
https://www.reuters.com/the-world-at-work/article/us-world-work-intelisrael/intel-bets-on-smart-buildings-in-israel-to-attract-tech-talent-idUSKBN1ZZ0G0
https://www.reuters.com/the-world-at-work/article/us-world-work-intelisrael/intel-bets-on-smart-buildings-in-israel-to-attract-tech-talent-idUSKBN1ZZ0G0
https://www.reuters.com/the-world-at-work/article/us-world-work-vrtraining/to-train-more-workers-companies-turn-to-virtual-reality-idUSKBN1ZL1AN
https://www.reuters.com/the-world-at-work/article/us-world-work-vrtraining/to-train-more-workers-companies-turn-to-virtual-reality-idUSKBN1ZL1AN
https://www.reuters.com/the-world-at-work/article/us-southkorea-artificial-intelligence-jo/smile-with-your-eyes-how-to-beat-south-koreas-ai-hiring-bots-and-land-a-job-idUSKBN1ZC022
https://www.reuters.com/the-world-at-work/article/us-southkorea-artificial-intelligence-jo/smile-with-your-eyes-how-to-beat-south-koreas-ai-hiring-bots-and-land-a-job-idUSKBN1ZC022
https://www.reuters.com/the-world-at-work/article/us-world-work-softskills/how-can-generation-z-compete-with-robots-focus-on-the-human-touch-idUSKBN1YK0CM
https://www.reuters.com/the-world-at-work/article/us-world-work-softskills/how-can-generation-z-compete-with-robots-focus-on-the-human-touch-idUSKBN1YK0CM
https://www.reuters.com/the-world-at-work/article/us-japan-harassment-appearance/specs-on-heels-off-japanese-activists-urge-changes-to-anti-harassment-code-idUSKBN1Y70QT
https://www.reuters.com/the-world-at-work/article/us-japan-harassment-appearance/specs-on-heels-off-japanese-activists-urge-changes-to-anti-harassment-code-idUSKBN1Y70QT
https://www.reuters.com/the-world-at-work/article/us-world-work-givingtuesday/your-money-on-givingtuesday-companies-turbocharge-holiday-giving-efforts-idUSKBN1Y12F1
https://www.reuters.com/the-world-at-work/article/us-world-work-givingtuesday/your-money-on-givingtuesday-companies-turbocharge-holiday-giving-efforts-idUSKBN1Y12F1
https://www.reuters.com/the-world-at-work/article/us-world-work-vetrepreneurs/helping-veterans-develop-business-skills-as-entrepreneurs-idUSKBN1XL2LS
https://www.reuters.com/the-world-at-work/article/us-world-work-vetrepreneurs/helping-veterans-develop-business-skills-as-entrepreneurs-idUSKBN1XL2LS
https://www.reuters.com/the-world-at-work/article/us-usa-stocks/sp-500-dow-slip-on-fear-of-new-infection-wave-idUSKBN22N1FZ
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-centralbanks-guida/for-central-banks-hope-for-precision-fades-amid-pandemic-uncertainty-idUSKBN22N0EQ
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-usa-meatpacking-an/as-u-s-meat-workers-fall-sick-and-supplies-dwindle-exports-to-china-soar-idUSKBN22N0IN
https://www.reuters.com/the-world-at-work/article/us-usa-trade-china/chinese-advisers-call-for-talks-on-new-trade-deal-with-u-s-global-times-idUSKBN22N1XC
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-usa-treasury/u-s-has-no-need-to-buy-back-debt-will-take-advantage-of-low-interest-rates-mnuchin-idUSKBN22N1XU
https://www.reuters.com/the-world-at-work/article/us-health-coronavirus-wizz-air-hldgs-int/wizz-air-tells-uk-we-need-more-detail-on-quarantine-idUSKBN22N20B
https://www.reuters.com/the-world-at-work/article/us-reuters-editorial-leadership/reuters-editorial-leadership-idUSKBN1KE2SD" target="_blank

In [162]:
df.head(100)

                                                    0 Text Word
0   https://www.reuters.com/places/brazil/article/...  NaN  NaN
1   https://www.reuters.com/places/brazil/article/...  NaN  NaN
2   https://www.reuters.com/places/brazil/article/...  NaN  NaN
3   https://www.reuters.com/places/brazil/article/...  NaN  NaN
4   https://www.reuters.com/places/brazil/article/...  NaN  NaN
..                                                ...  ...  ...
95  https://www.reuters.com/places/africa/article/...  NaN  NaN
96  https://www.reuters.com/places/africa/article/...  NaN  NaN
97  https://www.reuters.com/places/africa/article/...  NaN  NaN
98  https://www.reuters.com/places/africa/article/...  NaN  NaN
99  https://www.reuters.com/places/africa/article/...  NaN  NaN

[100 rows x 3 columns]

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       276 non-null    object
 1   Text    0 non-null      object
 2   Word    0 non-null      object
dtypes: object(3)
memory usage: 6.6+ KB

In [164]:
df.tail()

                                                     0 Text Word
174  https://www.reuters.com/places/japan/article/u...  NaN  NaN
175  https://www.reuters.com/places/japan/article/u...  NaN  NaN
176  https://www.reuters.com/places/japan/article/u...  NaN  NaN
177  https://www.reuters.com/places/japan/article/u...  NaN  NaN
178  https://www.reuters.com/places/japan/article/u...  NaN  NaN

In [156]:
print(url2)

In [221]:
df.to_csv('C:/Curso-ML-1/project/source-reuters.csv')

In [222]:
df1.info()

NameError: name 'df1' is not defined